[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
requests = "*"
fastapi = {version = "*", extras = ["full"]}
uvicorn = {version = "*", extras = ["standard"]}
aiohttp = "*"
sentry_sdk = "*"
[dev-packages]

[requires]
python_version = "3.9"
